<% provide(:title, 'Выходные данные лексического анализатора') %>
<div>
  <table class = "table" border="0" style="border: 0px solid black; width:1000px;" valign="top">
    <thead>
    <tr valign="top" rowspan="7">
      <td>
        <table class = "table table-striped" style="border: 1px solid black; width:250px;" border="1" valign="top">
          <thead>
          <tr><th colspan="4"><center><p>Список лексем</p></center></th></tr>
          <!--<tr><td>Лексема</td><td>Тип</td><td>Инд.</td><td>Пор. ном.</td></tr>-->
          <tr>
            <th>Лекса</th>
            <th>Тип</th>
            <th>Инд.</th>
            <th>Пор. ном.</th>
          </tr>
          </thead>
          <tbody>
          <% for ii in 0..@tabLex.size - 1 -%>
              <tr>
                <td><%= @tabLex.at(ii)[0] %></td>
                <td><%= @tabLex.at(ii)[1] %></td>
                <td><%= @tabLex.at(ii)[2] %></td>
                <td><%= @tabLex.at(ii)[3] %></td>
              </tr>
          <% end -%>
          </tbody>
          </td>
        </table>


      <td valign="top" rowspan="3">
        <table class = "table table-striped" style="border: 1px solid black; width:250px;" border="1" valign="top">
          <thead>
          <tr><th colspan="3"><center><p>Идентификаторы</p></center></th></tr>
          <tr>
            <th>Лекса</th>
            <th>Тип</th>
            <th>Пор. ном.</th>
          </tr>
          </thead>
          <tbody>
          <% for ii in 0..@tabVar.size - 1 -%>
              <tr>
                <td><%= @tabVar[ii][0] %></td>
                <td><%= @tabVar[ii][1] %></td>
                <td><%= @tabVar[ii][2] %></td>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </td>

      <td>
        <table class = "table table-striped" style="border: 1px solid black; width:250px;" border="1" valign="top">
          <thead>
          <tr><th colspan="3"><center><p>Список чисел</p></center></th></tr>
          <tr>
            <th>Число</th>
            <th>Тип</th>
            <th>Пор. ном.</th>
          </tr>
          </thead>
          <tbody>
          <% for ii in 0..@tabNum.size - 1 -%>
              <tr>
                <td><%= @tabNum[ii][0] %></td>
                <td><%= @tabNum[ii][1] %></td>
                <td><%= @tabNum[ii][2] %></td>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </td>

      <td>
        <table class = "table table-striped" style="border: 1px solid black; width:250px;" border="1" valign="top">
          <thead>
          <tr><th colspan="3"><center><p>Список строк</p></center></th></tr>
          <tr>
            <th>Строка</th>
            <th>Тип</th>
            <th>Пор. ном.</th>
          </tr>
          </thead>
          <tbody>
          <% for ii in 0..@tabStr.size - 1 -%>
              <tr>
                <td><%= @tabStr[ii][0] %></td>
                <td><%= @tabStr[ii][1] %></td>
                <td><%= @tabStr[ii][2] %></td>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </td>

      <td>
        <table class = "table table-striped" style="border: 1px solid black; width:250px;" border="1" valign="top">
          <thead>
          <tr><th colspan="3"><center><p>Список ошибок</p></center></th></tr>
          <tr>
            <th>Сообщение</th>
            <th>Сост.</th>
            <th>Знач.</th>
          </tr>
          </thead>
          <tbody>
          <% for ii in 0..@tabErr.size - 1 -%>
              <tr>
                <td><%= @tabErr[ii][0] %></td>
                <td><%= @tabErr[ii][1] %></td>
                <td><%= @tabErr[ii][2] %></td>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </td>

      <td>
        <table class = "table table-striped" style="border: 1px solid black; width:450px;" border="1" valign="top">
          <thead>
          <tr><th colspan="1"><center><p>Синтаксическое дерево</p></center></th></tr>
          </thead>
          <tbody>
          <% for ii in 0..@resultRules.size - 1 -%>
              <tr>
                <td><%= @resultRules[ii] %></td>
              </tr>
          <% end -%>
          </tbody>
        </table>
      </td>


      <td>
        <table class = "table table-striped" style="border: 0px solid black; width:150px;" border="0" valign="top">
          <thead>
          <tr><th colspan="1"><center><p>Сгенерированный код</p></center></th></tr>
          </thead>
          <tbody>
          <tr>
            <td><textarea rows="15" ><%= @resultProgram %></textarea></td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>
    </thead>
  </table>



  <a class="btn btn-success btn-large" href="/index/welcome">Возврат в главное меню</a>
</div>